name: test and publish

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  release:
    types: [published]

permissions:
  contents: read

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4.2.2
    - uses: astral-sh/setup-uv@v6.3.1
    - name: Check lint
      run: |
        uv tool run --with tomli codespell .
        uv tool run ruff check .
        uv tool run ruff format . --diff
    - name: Check typing
      run: |
        uv tool run pytype
        uv tool run ty check
    - name: Test
      run: |
        uv run --with ".[test]" coverage run -m pytest
        uv run --with ".[test]" coverage report

  publish:
    name: Publish
    environment:
      name: pypi
      url: https://pypi.org/project/dot.py/
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    needs: test
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
    - uses: actions/checkout@v4.2.2
      with:
        fetch-depth: 0  # needed to get version
    - uses: astral-sh/setup-uv@v6.3.1
    - name: Build
      run: |
        uv build
    - name: Validate Tag
      run: |
        uv run --with dist/*.whl python tests/version.py
    - name: Publish
      run: |
        uv publish --trusted-publishing always
